<h1> Change Log </h1>

<p>
	In order to ensure everyone is up to date with the changes made to the website, I decided the best thing to do would be to
	create a changelog page. This page will list out the changes I've made between version numbers. Currently this change log has to be manually updated and may become out of date occasionally.
</p>

<ng-container *ngFor="let versionUpdate of changeList">

	<h2> {{versionUpdate.version}} </h2>

	<ul>
		<li *ngFor="let change of versionUpdate.changes">
			{{change}}
		</li>
	</ul>

</ng-container>
