<h1>Profile Manager : {{user?.rank?.rank_text_full}} {{user?.fname}} {{user?.lname}}</h1>
<p>
	Here you can see and update some information regarding your profile.
</p>

<app-member-editor [user]="user"></app-member-editor>
