<h1>Availabilities</h1>


<div class="row">
	<div class="col-lg-6 col-md-12" *ngFor="let event of events">
		<mat-card>

			<mat-card-header>

				<mat-card-title>
					{{event.event_title}}
				</mat-card-title>

				<mat-card-subtitle [innerHTML]="event.event_description">
				</mat-card-subtitle>

			</mat-card-header>

			<mat-card-content>

				<!--<md-progress-bar class="example-margin" [color]="'warn'" [mode]="'indeterminate'" [value]="'100'">
		</md-progress-bar>-->

				<div class="row clearfix" style="width:100%">

					<div class="col-lg-6 col-md-12">
						{{event.start_date_time | date:'dd/MMM/yyyy HH:mm'}}
						<span *ngIf="event.end_date_time && event.end_date_time != '0000-00-00 00:00:00'"> - {{event.end_date_time | date:'dd/MMM/yyyy HH:mm'}}</span>

						<div>
							<span class="badge badge-default" *ngIf="+event.max_cadet_count > 0">Max Cadets : {{event.max_cadet_count}}</span>
							<span class="badge badge-default" *ngIf="event.is_public">Public Event</span>
							<span class="badge badge-default" *ngIf="event.parent_permission">Parent Permission Required</span>
						</div>
					</div>

					<div class="col-lg-6 col-md-12">
						<span class="float-right"> Cadet Attire: {{event.cadet_uniform}} </span>

						<br />

						<span class="float-right"> Staff Attire: {{event.staff_uniform}} </span>
					</div>
				</div>

			</mat-card-content>

			<mat-card-actions>

				<div class="row">
					<div class="col">

						<mat-grid-list cols="3">

							<ng-container *ngIf="canApplyForEvent(event)">
								<mat-grid-tile>
									<button mat-raised-button color="primary" (click)="applyForEvent(event.event_id)">Apply</button>
								</mat-grid-tile>
								<mat-grid-tile>
									<button mat-raised-button color="accent" (click)="decliningEvent(event.event_id)">Decline</button>
								</mat-grid-tile>
							</ng-container>

							<ng-container *ngIf="event.status == availabilityStatus.YES">
								<mat-grid-tile>
									<button mat-raised-button color="primary" disabled>Applied</button>
								</mat-grid-tile>
							</ng-container>

							<ng-container *ngIf="event.status == availabilityStatus.NO">
								<mat-grid-tile>
									<button mat-raised-button color="accent" disabled>Declined</button>
								</mat-grid-tile>
							</ng-container>

							<ng-container *ngIf="!enoughCadetSpots(event)">
								<mat-grid-tile>
									<span mat-raised-button color="warn"> This event is full. </span>
								</mat-grid-tile>
							</ng-container>

							<mat-grid-tile *ngIf="event.gen_permission_form == '1'">
								<mat-grid-tile-header>
									<button mat-raised-button color="primary" (click)="openPermissionForm(event.event_id)">Permission Form</button>
								</mat-grid-tile-header>
							</mat-grid-tile>


						</mat-grid-list>

					</div>
				</div>

			</mat-card-actions>

		</mat-card>

	</div>

	<div *ngIf="events == null || events.length == 0" class="col-12">

		<mat-card>
			<mat-card-header>

				<mat-card-title>
					<h2>No Availabilities!</h2>
				</mat-card-title>

				<mat-card-subtitle>
					There are no availabilities currently available to sign up for.
				</mat-card-subtitle>

			</mat-card-header>
		</mat-card>
	</div>
</div>
