<nav class = "navbar fixed-bottom navbar-inverse bg-inverse navbar-toggleable-md hidden-print">
	<div class = "collapse navbar-collapse">
		<a class = "navbar-brand" href = "#">27 RCACS</a>

		<span class = "navbar-text">
			<small>
				DISCLAIMER: This is the official website of the 27 City of London Squadron. This is not a Canadian Forces website. These pages are NOT intended to be, nor do they represent in any way, official comments, statistics, or opinions of the Department of National Defence or the Air Cadet League of Canada. These pages are NOT provided, endorsed, sponsored or approved by the Department of National Defence or the Air Cadet League of Canada. Links to external sites are provided for completeness. Links were active at the time of writing. Content at external sites is not necessarily endorsed by 27 City of London Squadron.
			</small>
		</span>
	</div>
</nav>
