<h1>How to Join</h1>

<h2>Step 1: Eligibility</h2>
<p>
	In order to join the Canadian Cadet Organization as a cadet, you must meet the following requirements:
</p>

<ul>
	<li>Be between 12 and 19 years of age.</li>
	<li>Photocopy of their Birth Certificate (and/or Citizenship Card) and Health Card must be provided.</li>
	<li>A parent and/or legal guardian must sign all documents and must accompany the new recruit to the squadron
		to return all forms.</li>
</ul>

<div class="row">
	<div class="col">

		<h2>Step 2: Visit the Squadron</h2>
		<p>
			Your next step is to visit the squadron during one of their <b>Regular Training Nights</b> (AKA. Parade
			Nights). A squadron's regular training / parade night is held once a week at the squadron's Local
			Head Quarters (LHQ). During the event, cadets are taught various classes by the more senior cadets
			or officers, while other officers plan out various events and operations.
		</p>
		<h3>
			Visiting 27 RCACS
		</h3>

		<p>
			Currently, 27 holds their Regular Training Nights on <b>Thursday Nights</b> from <b>18:30 hrs</b>			(6:30 PM) - <b>21:30 hrs</b> (9:30 PM). Our LHQ is <b>HMCS Prevost</b> which is where most of our
			regular training is conducted.
		</p>

	</div>
	<div class="col">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2918.913298690509!2d-81.25988868407363!3d42.980099979150175!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882ef1f40f548673%3A0x7c0f8cc0f064108d!2sHMCS+Prevost!5e0!3m2!1sen!2sus!4v1495247634500"

		        width="100%"
		        height="450"
		        frameborder="0"
		        style="border:0"
		        allowfullscreen></iframe>
	</div>
</div>


<h2>Step 3: Paperwork</h2>

<p>
	Once at the squadron, a new recruit application form must be filled out and signed by the parent and/or
	legal guardian of the new recruit. The documentation can be obtained by meeting with the current Admininstrations
	Officer
	<span *ngIf="adminO">, {{adminO.rank.rank_text_full}} {{adminO.fname}} {{adminO.lname}}</span>. Please make sure you bring
	in the documentation (listed in step 0) in order to be able to complete the documentation.
</p>
