<!--<nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse mb-4">

	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#memberNavBar" aria-controls="memberNavBar" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="memberNavBar">

		<ul class="navbar-nav mr-auto">

			<span *ngFor="let nav of navigationMenu">

				<li *ngIf="nav.path" class="nav-item">

					<a class="nav-link" [routerLink] = "nav.path">{{nav.title}}</a>

				</li>

				<li class="nav-item dropdown" *ngIf="nav.sublinks">

					<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{nav.title}}</a>

					<div class="dropdown-menu">
						<a class="dropdown-item" [routerLink]="subnav.path" *ngFor="let subnav of nav.sublinks">{{subnav.title}}</a>
					</div>

				</li>

			</span>

		</ul>
	</div>


</nav>-->

<nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse mb-4 hidden-print">

	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#memberNavBar" aria-controls="memberNavBar" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="memberNavBar">

		<ul class="navbar-nav mr-auto">

			<span *ngFor="let nav of navigationMenu">

				<li *ngIf="nav.path" class="nav-item">

					<a class="nav-link" [routerLink] = "nav.path">{{nav.title}}</a>

				</li>

				<li class="nav-item dropdown" *ngIf="nav.sublinks">

					<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{nav.title}}</a>

					<div class="dropdown-menu">
						<a class="dropdown-item" [routerLink]="subnav.path" *ngFor="let subnav of nav.sublinks">{{subnav.title}}</a>
					</div>

				</li>

			</span>

		</ul>
	</div>


</nav>
