<h1>Member Lists</h1>
<p>
	This page will allow you to generate lists quickly based on different parameters
</p>

<table class="table">
	<tr>
		<th>
			Member
		</th>
		<th>
			Level
		</th>
		<th>
			E-Mail
		</th>
		<th>
			Phone Number
		</th>
	</tr>

	<tbody>
		<tr *ngFor="let user of users">
			<td>
				{{user.rank.rank_text_short}} {{user.fname}} {{user.lname}}
			</td>

			<td [innerHTML]="user.level ? user.level : undefinedPlaceholderText">
			</td>

			<td [innerHTML]="user.email ? user.email : undefinedPlaceholderText">
			</td>

			<td [innerHTML]="user.phone_number ? user.phone_number : undefinedPlaceholderText">
			</td>
		</tr>
	</tbody>
</table>
