<h1>Sponsors</h1>

<ul class = "list-unstyled">
	<li class = "media my-4" *ngFor = "let sponsor of sponsors; let i = index">

		<div class = "media-body" *ngIf = "i % 2 == 1">
			<h5 class = "mt-0">{{sponsor.title}}</h5>
			<div [innerHTML] = "sponsor.description"></div>
		</div>

		<img class = "d-flex align-self-center mx-3" src = "{{getImagePath(sponsor.imgsrc)}}">

		<div class = "media-body" *ngIf = "i % 2 == 0">
			<h5 class = "mt-0">{{sponsor.title}}</h5>
			<div [innerHTML] = "sponsor.description"></div>
		</div>

	</li>
</ul>

