<h2 md-dialog-title>Confirm Deletion</h2>
<md-dialog-content>Are you sure?</md-dialog-content>
<md-dialog-actions>
	<button md-button
	        (click)="close($event, false)">No</button>
	<!-- Can optionally provide a result for the closing dialog. -->
	<button md-button
	        (click)="close($event, true)">Yes</button>
</md-dialog-actions>
