<div class="container">

	<div class="row">

		<div class="col-lg-2 col-md-12 text-center">
			<img class="rounded-circle" src="./assets/images/logo.png" id="sqdn_logo">
		</div>

		<div class="col-lg-10 col-md-12">

			<h1>27 (City of London) Squadron Royal Canadian Air Cadets</h1>

			<p>
				Welcome to 27 Squadron's website! Interested in learning more about what it means to become an air cadet? Check out the
				<a [routerLink]="['/about']">About Section</a>. Interested in taking your first step into the program? Check out the
				<a [routerLink]="'/join'">Join Page</a> to learn about what you need to do in order to join.
			</p>
		</div>
	</div>

</div>
