<div class="row">
	<div class="col-4" *ngFor="let staff of staff_list">
		<app-member-card [member] = "staff"></app-member-card>
	</div>
</div>

<!-- <h2 id="chain-o-command-title">Chain of Command</h2> -->
