
#chart {
    height: 440px;
}
.node rect {
    cursor: move;
    fill-opacity: .9;
    shape-rendering: crispEdges;
}
.node text {
    pointer-events: none;
    text-shadow: 0 1px 0 #fff;
}
.link {
    fill: none;
    stroke: #000;
    stroke-opacity: .2;
}
.link:hover {
    stroke-opacity: .5;
}


circle.node-dot {
    fill: DarkSlateGray;
    stroke: SlateGray;
    stroke-width: 1px;
}

path.link {
    fill: none;
    stroke: gray;
}
