<h2>Event Manager</h2>

<h2>
	<small>Upcoming Events</small>
</h2>
<table class="table table-inverse">
	<thead>
		<tr>
			<th>ID</th>
			<th>Title</th>
			<th>Event Start</th>
			<th>Event End</th>
			<th>Statuses</th>
			<th>Cadets</th>
			<th>Staff</th>
			<th>Actions</th>
			<!--Edit / Delete Buttons-->
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>New Event</td>
			<td></td>
			<td></td>
			<td> </td>
			<td> </td>
			<td> </td>
			<td>
				<div class="btn-group btn-group-sm"
				     role="group">
					<button class="btn btn-xs btn-success"
					        (click)="addEvent()">New Event</button>
				</div>
			</td>
		</tr>
		<ng-container *ngFor="let event of upcomingEvents">
			<tr *ngIf="!!(event)">
				<td>{{event.event_id}}</td>
				<td>{{event.event_title}}</td>
				<td>{{event.start_date_time | date:'dd/MMM/yyyy HH:mm'}}</td>
				<td *ngIf="event.end_date_time != '0000-00-00 00:00:00'">{{event.end_date_time | date:'dd/MMM/yyyy HH:mm'}}</td>
				<td *ngIf="event.end_date_time == '0000-00-00 00:00:00'">UNSET</td>
				<td>
					<span class="badge badge-default"
					      *ngIf="event.get_availabilities === '1'">Availabilities</span>
					<span class="badge badge-default"
					      *ngIf="event.is_public === '1'">Public</span>
					<span class="badge badge-default"
					      *ngIf="event.parent_permission === '1'">Parent Permission</span>
					<span class="badge badge-default"
					      *ngIf="event.can_change === '1'">Re-Subs</span>
					<span class="badge badge-success"
					      *ngIf="event.staffRequirementMet">Staffing</span>
					<span class="badge badge-danger"
					      *ngIf="!event.staffRequirementMet">Staffing</span>
				</td>
				<td>
					<span class="text-success">{{event.attending}}</span> /
					<span class="text-danger">{{event.not_attending}}</span>
				</td>
				<td>
					<span class="text-success">{{event.attending_staff}}</span> /
					<span class="text-danger">{{event.not_attending_staff}}</span>
				</td>
				<td>
					<div class="btn-group btn-group-sm"
					     role="group">
						<button class="btn btn-xs btn-primary"
						        [routerLink]="'event-roster/' + event.event_id">Roster</button>
						<button class="btn btn-xs btn-info"
						        [routerLink]="'event-editor/' + event.event_id">Edit</button>
						<button class="btn btn-xs btn-danger"
						        (click)="deleteEvent(event)">Delete</button>
					</div>
				</td>
			</tr>
		</ng-container>
	</tbody>
</table>


<h2>
	<small>Past {{pastEventLimit}} Events</small>
</h2>
<table class="table table-inverse">
	<thead>
		<tr>
			<th>ID</th>
			<th>Title</th>
			<th>Event Start</th>
			<th>Event End</th>
			<th>Statuses</th>
			<th>Cadets</th>
			<th>Staff</th>
			<th>Actions</th>
			<!--Edit / Delete Buttons-->
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>New Event</td>
			<td></td>
			<td></td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<div class="btn-group btn-group-sm"
				     role="group">
					<button class="btn btn-xs btn-success"
					        (click)="addEvent()">New Event</button>
				</div>
			</td>
		</tr>
		<ng-container *ngFor="let event of pastEvents">
			<tr *ngIf="!!(event)">
				<td>{{event.event_id}}</td>
				<td>{{event.event_title}}</td>
				<td>{{event.start_date_time | date:'dd/MMM/yyyy HH:mm'}}</td>
				<td *ngIf="event.end_date_time != '0000-00-00 00:00:00'">{{event.end_date_time | date:'dd/MMM/yyyy HH:mm'}}</td>
				<td *ngIf="event.end_date_time == '0000-00-00 00:00:00'">UNSET</td>
				<td>
					<span class="badge badge-default"
					      *ngIf="event.get_availabilities === '1'">Availabilities</span>
					<span class="badge badge-default"
					      *ngIf="event.is_public === '1'">Public</span>
					<span class="badge badge-default"
					      *ngIf="event.parent_permission === '1'">Parent Permission Required</span>
					<span class="badge badge-default"
					      *ngIf="event.can_change === '1'">Re-Submissions</span>
				</td>
				<td>
					<span class="text-success">{{event.attending}}</span> /
					<span class="text-danger">{{event.not_attending}}</span>
				</td>
				<td>
					<span class="text-success">{{event.attending_staff}}</span> /
					<span class="text-danger">{{event.not_attending_staff}}</span>
				</td>
				<td>
					<div class="btn-group btn-group-sm"
					     role="group">
						<button class="btn btn-xs btn-primary"
						        [routerLink]="'event-roster/' + event.event_id">Roster</button>
						<button class="btn btn-xs btn-info"
						        [routerLink]="'event-editor/' + event.event_id">Edit</button>
						<button class="btn btn-xs btn-danger"
						        (click)="deleteEvent(event)">Delete</button>
					</div>
				</td>
			</tr>
		</ng-container>
	</tbody>
</table>
