<mat-tab-group>
	<mat-tab label="User Information">
		<div class="tab-container">
			<dynamic-form [questions]="questions"
			              (data)="save($event)"
			              [buttonText]="'Save'">
			</dynamic-form>
		</div>
	</mat-tab>

	<mat-tab label="Password Reset">

		<div class="tab-container">
			<app-change-password [user]="user"></app-change-password>
		</div>
	</mat-tab>
</mat-tab-group>
