<div class = "row">
	<div class = "col">
		<h1> Member Dashboard </h1>
	</div>
</div>

<div class="row">

	<div class="col">
		<h3>Signed Up Events</h3>

		<ul>
			<ng-container *ngFor="let event of attendingEventList">
				<li *ngIf="event.status == 1">{{event.event_title}}</li>
			</ng-container>
		</ul>

	</div>

</div>
