<nav class="navbar navbar-toggleable-sm navbar-light bg-faded mb-4 hidden-print">

	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navBar" aria-controls="navBar" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<a class="navbar-brand">27 RCACS</a>

	<div class="collapse navbar-collapse" id="navBar">

		<ul class="navbar-nav mr-auto">

			<span *ngFor="let nav of navigationMenu">

				<li *ngIf="nav.path" class="nav-item">

					<a class="nav-link" [routerLink] = "nav.path" [id]="nav.nav_id">{{nav.title}}</a>

				</li>

				<li class="nav-item dropdown" *ngIf="nav.sublinks">

					<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{nav.title}}</a>

					<div class="dropdown-menu">
						<a class="dropdown-item" [routerLink]="subnav.path" [id]="subnav.nav_id" *ngFor="let subnav of nav.sublinks">{{subnav.title}}</a>
					</div>

				</li>

			</span>

		</ul>

		<span class="navbar-text">
			<a [routerLink] = "'/changelog'" >Version {{versionNumber}}</a>
    	</span>
	</div>


</nav>
